In [1]:
import pandas as pd

In [24]:
house = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Boston.csv')

In [5]:
house

,CRIM,ZN,INDUS,CHAS,NX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [6]:
y = house['MEDV']
X = house.drop(['MEDV'],axis=1)

In [7]:
# Step 4 : train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.7, random_state=2529)

In [8]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [9]:
# Step 6 : train or fit model
model.fit(X_train,y_train)

LinearRegression()

In [10]:
y_pred = model.predict(X_test)

In [11]:
y_pred

array([31.71733828, 22.02143302, 21.16613197, 39.77837246, 20.10258512,
       22.86056216, 18.35574643, 14.7902735 , 22.55778646, 21.34594953,
       18.38491085, 27.9664665 , 29.85929012,  6.44680773, 10.68297311,
       26.24809521, 21.89368671, 25.22692365,  3.62385942, 36.21920372,
       24.07812335, 22.94103934, 14.27095261, 20.79013279, 24.22725035,
       16.7379611 , 18.74856986, 20.96709658, 28.513571  , 20.86346628,
        9.23450577, 17.06754852, 22.06953886, 22.23121875, 39.25875323,
       26.16769924, 42.50354003, 19.34517962, 34.51869058, 14.07023676,
       13.81055358, 23.27727535, 11.79100403,  9.01040731, 21.64587594,
       25.55339317, 18.16941728, 16.81991401, 14.66170215, 14.86477172,
       33.78924259, 33.26959074, 15.49208778, 24.08269034, 27.63531226,
       19.58288727, 45.02488529, 20.96959671, 20.07202649, 27.67146866,
       34.59154418, 12.71353064, 23.66247812, 31.65792337, 28.97459925,
       32.45963484, 13.93494747, 35.491924  , 19.35871482, 19.60341885,
        1.43927038, 24.10206738, 33.67200257, 20.62160583, 26.89383792,
       21.28629335, 31.94640391, 29.73908623, 13.93454775, 13.81678383,
       19.75873615, 21.54069878, 20.86933991, 23.62698265, 28.79508068,
       23.64118169,  6.95157816, 22.19831966, -6.82270042, 16.96842453,
       16.76859897, 25.43664303, 14.95151023,  3.71667789, 15.02525824,
       16.90607726, 21.45897878, 31.65915538, 30.72068155, 23.72584448,
       22.18882729, 13.76042247, 18.47384318, 18.1524094 , 36.60119404,
       27.49121167, 11.00093835, 17.26407285, 22.49004463, 16.52993633,
       29.49279312, 22.89418353, 24.67840473, 20.37710587, 19.68603018,
       22.55437435, 27.31673957, 24.86003524, 20.2018396 , 29.14358757,
        7.42840113,  5.85287912, 25.34843348, 38.73123659, 23.94325177,
       25.28198173, 20.11046586, 19.75220882, 25.06978342, 35.15909482,
       27.31951047, 27.2616268 , 31.39965843, 16.55315203, 14.29555368,
       23.76937723,  7.64840244, 23.34914332, 21.36612339, 26.12068678,
       25.31847859, 13.1171793 , 17.66685837, 36.19968161, 20.50074493,
       27.94813333, 22.45926502, 18.14585016, 31.24201417, 20.85014715,
       27.35824971, 30.53239318])

In [12]:
from sklearn.metrics import mean_absolute_error,mean_absolute_percentage_error ,mean_squared_error

In [13]:
mean_absolute_error(y_test,y_pred)

3.1550309276025046

In [14]:
mean_absolute_percentage_error(y_test,y_pred)

0.16355935882218015

In [15]:
mean_squared_error(y_test,y_pred)

20.71801287783852